.DS_Store
*.local
*.hist
/emacs.d/ido.last~
/emacs.d/helm-adaptive-history
/emacs.d/projectile-bookmarks.eld
/emacs.d/projectile.cache
/emacs.d/session.101342331fc34a8e61146928764410996200000047020061
/emacs.d/%backup%~
/emacs.d/elpa/
/emacs.d/tramp
